.cache
.DS_Store
.env
.env.test
.eslintcache
.idea
.npm
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
bower_components
builders/
coverage
dist
logs
mock.html
node_modules/
npm-debug.log*
pids
typings/
